<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
        <section name="superSocket"
                 type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
    </configSections>
    <appSettings>
        <add key="ServiceName" value="My Telnet Server" />
    </appSettings>
    <superSocket>
        <servers>
            <server name="MyTelnetServer1"
                    serverTypeName="MyTelnetServer"
                    ip="Any"
                    port="2333"
                    maxRequestLength="4096">
            </server>
        </servers>
        <serverTypes>
            <add name="MyTelnetServer"
                 type="MySocketServerTool.Services.CustomServer, MySocketServerTool"/>
        </serverTypes>
    </superSocket>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>