<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
        <section name="superSocket"
                 type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
    </configSections>
    <appSettings>
        <add key="ServiceName" value="My Telnet Server" />
    </appSettings>
  <superSocket xmlns="http://schema.supersocket.net/supersocket"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://schema.supersocket.net/supersocket http://schema.supersocket.net/v1-6/supersocket.xsd">
        <servers>
            <server name="MyTelnetServer1"
                    serverTypeName="MyTelnetServer"
                    textEncoding="Ascii"
                    ip="Any"
                    port="9600"
                    maxRequestLength="4096">
            </server>
          <!--多服务器-->
          <!--<server name="MyTelnetServer2"
                    serverTypeName="MyTelnetServer"
                    ip="Any"
                    port="2334"
                    maxRequestLength="4096">
          </server>-->
        </servers>
        <serverTypes>
            <add name="MyTelnetServer"
                 type="MySocketServerTool.Server.FinsTcpServer, MySocketServerTool"/>
        </serverTypes>
    </superSocket>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>